@charset "UTF-8";

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a,
button {
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  font-family: var(--font-family-base);
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-green: hsla(124, 37%, 60%, 1);
  --color-cream-white: hsla(0, 0%, 98%, 1);
  --color-white: hsla(360, 100%, 100%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-grey: hsla(252, 3%, 63%, 1);
  --font-family-base: "Gilroy", sans-serif;
  --border: 1px solid var(--color-white);
  --container-width: 1280px;
  --container-padding-x: 80px;
  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

main {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
}

/* HEADER */

.page-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px 0 38px;
  align-items: center;
  justify-content: flex-end;
}

.page-header-logo {
  margin-right: auto;
}

.main-menu {
  display: flex;
}

.main-menu-list {
  display: flex;
  column-gap: 45px;
  font-size: 17px;
  line-height: 1.23;
  align-items: center;
  margin-right: clamp(24px, 2vw, 47px);
}

.main-menu-list a {
  min-width: 120px;
}

.page-header-top .page-header-button {
  border: none;
  border-radius: 6px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 22px;
  line-height: 1.22;
  padding: 12px 28px;
}

.page-header-top .page-header-burger-button {
  display: none;
}

/* BANNER */

.main .container {
  background-color: var(--color-cream-white);
}

.banner .container {
  display: flex;
  justify-content: start;
}

.banner-body {
  max-width: 557px;
  margin: 8.9vw 103px 0 0;
}

h1 {
  font-size: clamp(34px, 3vw, 60px);
  text-transform: uppercase;
  font-weight: 800;
  padding-bottom: 24px;
  line-height: 1.1;
}

.banner-body p {
  font-size: 1.24vw;
  line-height: 1.16;
  color: var(--color-grey);
  margin-bottom: 3vw;
}

.banner-downoload-button {
  display: flex;
  flex-wrap: wrap;
}

.downoload-button-android {
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 24px;
  margin-top: 1vw;
  margin-right: 25px;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 20px 15px 65px;
  font-weight: 800;
  position: relative;
}

.downoload-button-android::before {
  content: "";
  background-image: url(../img/button--android__img.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  left: 20px;
}

.downoload-button-ios {
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 24px;
  border-radius: 5px;
  margin-top: 1vw;
  text-transform: uppercase;
  padding: 15px 20px 15px 65px;
  font-weight: 800;
  position: relative;
}

.downoload-button-ios::before {
  content: "";
  background-image: url(../img/button--ios__img.svg);
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.banner-img img {
  margin-top: 54px;
}

/* FORM-INNER */

.form-inner .container {
  padding-top: 3vw;  
}

.form {
  max-width: 1280px;
  max-height: 250px;
  background-color: var(--color-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.form label {
  font-size: 24px;
  color: white;
  max-width: 246px;
  line-height: 1.16;
  margin: 55px 0 55px 4vw;
}

.form-group {
  margin: 55px 4vw 55px 0;
  display: flex;
  align-items: center;
}

.form-group input {
  border: none;
  width: clamp(172px, 26vw, 499px);
  border-radius: 3px;
  padding: 15px 0 15px 35px;
}

.form-group button {
  margin-left: 0.3vw;
  border: none;
  border-radius: 3px;
  background-color: var(--color-black);
  font-size: 20px;
  padding: 13px 0;
  max-width: 260px;
  font-weight: 800;
  color: var(--color-white);
  text-transform: uppercase;
  width: 14vw;
  min-width: 165px;
}

/* fyp */

.fyp-description {
  padding-top: 128px;
}

.fyp-description h2 {
  text-align: center;
  font-size: 46px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.08;
  margin-bottom: 25px;
}

h2 span {
  color: var(--color-green);
}

.fyp-description p {
  text-align: center;
  font-size: 23px;
  color: var(--color-grey);
  max-width: 620px;
  margin-bottom: 23px;
  margin-inline: auto;
}

.fyp-inner {
  display: grid;
  grid-template-areas:
    "facilities-first facilities-app-vision facilities-second"
    "facilities-third facilities-app-vision facilities-fourth";
  grid-auto-flow: column;
  grid-template-columns: minmax(270px, 290px) 1fr minmax(270px, 290px);
  padding-bottom: 88px;
  column-gap: 45px;
}

.facilities-first {
  position: relative;
  grid-area: facilities-first;
}

.facilities-first .facilities-title::before {
  content: "";
  background-image: url(../img/facilities-before-img.png);
  width: 63px;
  height: 63px;
  top: 45px;
  right: 0;
  position: absolute;
}

.facilities-first .facilities-title::after {
  content: "";
  background-image: url(../img/facilities-first-number.png);
  height: 38px;
  top: 65px;
  right: 25px;
  position: absolute;
  background-repeat: no-repeat;
  width: 14px;
}

.facilities-second {
  position: relative;
  grid-area: facilities-second;
}

.facilities-second .facilities-title::before {
  content: "";
  background-image: url(../img/facilities-before-img.png);
  width: 63px;
  height: 63px;
  top: 45px;
  left: 0;
  position: absolute;
}

.facilities-second .facilities-title::after {
  content: "";
  background-image: url(../img/facilities-second-number.png);
  height: 25px;
  top: 63px;
  left: 22px;
  position: absolute;
  background-repeat: no-repeat;
  width: 20px;
}

.facilities-third {
  position: relative;
  grid-area: facilities-third;
}

.facilities-third .facilities-title::before {
  content: "";
  background-image: url(../img/facilities-before-img.png);
  width: 63px;
  height: 63px;
  top: 45px;
  right: 0;
  position: absolute;
}

.facilities-third .facilities-title::after {
  content: "";
  background-image: url(../img/facilities-third-number.png);
  height: 38px;
  top: 65px;
  right: 23px;
  position: absolute;
  background-repeat: no-repeat;
  width: 18px;
}

.facilities-fourth {
  position: relative;
  grid-area: facilities-fourth;
}

.facilities-fourth .facilities-title::before {
  content: "";
  background-image: url(../img/facilities-before-img.png);
  width: 63px;
  height: 63px;
  top: 45px;
  left: 0;
  position: absolute;
}

.facilities-fourth .facilities-title::after {
  content: "";
  background-image: url(../img/facilities-fourth-number.png);
  height: 25px;
  top: 63px;
  left: 22px;
  position: absolute;
  background-repeat: no-repeat;
  width: 20px;
}

.facilities-first h3,
.facilities-third h3 {
  padding-top: 115px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: end;
  line-height: 2.27;
  font-weight: 800;
}

.facilities-first p,
.facilities-third p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--color-grey);
  text-align: end;
}

.facilities-second h3,
.facilities-fourth h3 {
  padding-top: 115px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: start;
  line-height: 2.27;
  font-weight: 800;
}

.facilities-second p,
.facilities-fourth p {
  font-size: 20px;
  line-height: 1.3;
  color: var(--color-grey);
  text-align: start;
}

.facilities-app-vision {
  position: relative;
  z-index: 1;
  grid-area: facilities-app-vision;
  margin-inline: auto;
}

.facilities-app-vision img {
  min-width: 281px;
}


.facilities-app-vision::before {
  content: "";
  position: absolute;
  max-width: 400px;
  min-width: 279px;
  width: 33vw;
  z-index: -1;
  transform: translateX(-50%);
  left: 50%;
  top: 12%;
  max-height: 400px;
  min-height: 279px;
  height: 33vw;
  background-color: var(--color-green);
  border-radius: 50%;
}

.facilities-pagination-list {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.facilities-pagination-list li {
  margin-right: 5px;
}

.facilities-pagination-button {
  width: 12px;
  height: 12px;
  border: none;
  background-color: var(--color-green);
  opacity: 50%;
  border-radius: 50%;
}

.facilities-pagination-item .is-current {
  background-color: var(--color-green);
  opacity: 1;
}

/* BENEFITS */

.benefits .container {
  padding-bottom: 5vw;
}

.block-benefits {
  display: grid;
  grid-template-areas: "block-benefits-text . image"
    "benefits-description . image";
  background: var(--color-white);
  justify-content: space-between;
  grid-template-columns: minmax(200px, 440px) 1fr 2fr;
  grid-template-rows: repeat(2, 155px);
  margin-bottom: 55px;
  max-width: 1060px;
}

.container .second-block-benefits{
  display: grid;
  grid-template-areas: "image . block-benefits-text"
    "image . benefits-description";
  background: var(--color-white);
  justify-content: space-between;
  grid-template-columns: 2fr 1fr minmax(200px, 440px);
  grid-template-rows: repeat(2, 155px);
  margin-bottom: 55px;
  max-width: 1060px;
}

.second-block-benefits img {
  justify-self: end;
}

.block-benefits-text {
  grid-area: block-benefits-text;
}

.benefits-description {
  grid-area: benefits-description;
}

.block-benefits img {
  grid-area: image;
}


.benefits-description {
  font-size: 22px;
  max-width: 455px;
  margin-left: 45px;
  color: var(--color-grey);
}

.second-block-benefits .benefits-description {
  margin-left: 0;
  margin-right: 45px;
}

.block-benefits img {
  margin: 25px 0;
}

.block-benefits-text {
  grid-area: block-benefits-text;
  display: flex;
  align-items: center;
  margin-left: 45px;
  align-self: end;
}

.second-block-benefits .block-benefits-text {
  margin-right: 45px;
  margin-left: 0;
}

.block-benefits-text .benefits-number {
  font-size: 88px;
  margin-right: 40px;
  color: var(--color-green);
}

.block-benefits-text h2 {
  font-size: 34px;
}

.block-benefits img {
  grid-area: image;
}

.second-block-benefits {
  margin-inline: auto 4vw;
}

.first-block-benefits,
.third-block-benefits {
  margin-left: 4vw;
}

.benefits-description {
  grid-area: benefits-description;
}

/* FOOTER */

footer {
  padding-bottom: 5vw;
}

.page-header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4vw;
  flex-wrap: wrap;
}

.address {
  display: flex;
  margin-inline: 1.5vw;
}

.footer-address-info:first-child {
  margin-right: 3vw;
}

.footer-title {
  font-size: 22px;
  line-height: 1.22;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 21px;
}

.footer-text {
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 15px;
  color: var(--color-grey);
  height: 22px;
  max-height: 36px;
  position: relative;
}

.footer-text:last-child {
  margin-bottom: 0;
}

.text-rights {
  text-align: center;
  margin-top: 5vw;
  color: var(--color-green);
  font-size: 16px;
  line-height: 1.18;
}

.footer .banner-downoload-button button {
  padding: 10px 15px 10px 50px;
  font-size: 15px;
}

.footer .banner-downoload-button {
  margin-top: 20px;
}

.footer .downoload-button-android::before {
  top: 11px;
  left: 25px;
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
}

.footer .downoload-button-ios::before {
  top: 10px;
  left: 22px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

/* HOVER FOCUS */

@media (hover:hover) {
  .main-menu-link {
    position: relative;
  }

  .main-menu-link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--color-green);
    transition: width 0.5s;
  }

  .main-menu-link:hover:after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: var(--color-green);
    content: "";
    transition: width 0.5s;
  }

  .page-header-button:hover {
    background-color: var(--color-white);
    outline: 2px inset var(--color-green);
    outline-offset: -2px;
    color: var(--color-green);
    transition: 0ms;
  }

  .downoload-button:hover {
    background-color: var(--color-green);
  }

  .form-button:hover {
    color: var(--color-green);
    background-color: var(--color-white);
  }

  .form-field-text:focus-visible {
    outline: none;
  }

  .footer-number:hover {
    color: var(--color-black);
    border-bottom: 2px solid var(--color-green);
  }

  .footer-number:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--color-green);
    transition: width 0.5s;
  }

  .footer-number:hover:after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: var(--color-green);
    content: "";
    transition: width 0.5s;
  }
}

@media (max-width: 1024px) {

  .container {
    margin-inline: auto;
    padding-inline: 25px;
  }

  /* HEADER */

  .page-header-top {
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 45px 20px 20px 20px;
  }

  .page-header-top .main-menu {
    order: 1;
    padding-top: 20px;
    flex-basis: 100%;
  }

  /* BANNER */

  .banner .container {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .banner-body {
    order: 2;
    margin: 5vw auto 86px auto;
  }

  .banner-body h1 {
    text-align: center;
    font-size: 4.7vw;
  }

  .banner-body p {
    text-align: center;
    font-size: 2.7vw;
  }

  .banner-downoload-button {
    justify-content: space-around;
  }

  .banner-downoload-button button {
    margin-inline: 5px;
  }

  .banner-img {
    margin-inline: auto;
  }

  .banner-img img {
    margin-top: 29px;
    height: 450px;
  }

  .form label {
    font-size: 2.4vw;
    margin: 55px 0 55px 2vw;
  }

  .form-group {
    margin: 55px 2vw 55px 0;
  }

  .form-group input {
    min-width: 172px;
    font-size: 13px;
    padding: 15px 0 15px 1vw;
  }

  .form-group button {
    margin-left: 0.8vw;
    font-size: 15px;
    min-width: 130px;
  }

  /* fyp */

  .fyp-inner {
    grid-template-areas:
      "facilities-app-vision facilities-app-vision"
      "facilities-first facilities-second"
      "facilities-third facilities-fourth";
    column-gap: 15vw;
    grid-template-columns: none;
    justify-content: center;
  }

  .facilities {
    max-width: 290px;
    min-width: 188px;
  }

  .facilities h3 {
    line-height: 1.5;
    font-size: 18px;
  }

  .facilities p {
    font-size: 16px;
  }

  .facilities-app-vision img {
    max-height: 390px;
    min-width: unset;
  }

  /* BENEFITS */

  .block-benefits {
    grid-template-rows: repeat(2, 140px);
  }

  .block-benefits {
    margin-inline: 0;
  }

  .block-benefits-text {
    margin-left: 5vw;
  }

  .block-benefits-text .benefits-number {
    font-size: 10vw;
    margin-right: 4vw;
  }

  .block-benefits-text h2 {
    font-size: 3vw;
  }

  .benefits-description {
    font-size: 2vw;
    margin-left: 5vw;
  }

  .block-benefits img {
    padding-right: 20px;
    min-height: 200px;
    min-width: 233px;
  }

  .first-block-benefits img {
    margin: 10px 0;
  }

  .second-block-benefits img {
    min-width: 210px;
    min-height: 180px;
  }

  /* FOOTER */

  address {
    margin-inline: 45px;
  }

  address .footer-title {
    font-size: 3vw;
  }

  address .footer-text {
    font-size: 2vw;
  }

  .banner-downoload-button {
    margin-top: 3vw;
    flex-basis: 100%;
    justify-content: center;
  }

}

@media (max-width: 768px) {
  /* BENEFITS */

  .container .block-benefits {
    display: grid;
    grid-template-areas:
      "block-benefits-text"
      "image"
      "benefits-description";
    grid-template-rows: none;
    grid-template-columns: none;
    background: var(--color-white);
    justify-content: center;
    margin-bottom: 8vw;
  }

  .block-benefits .block-benefits-text {
    margin-top: 15px;
    margin-inline: auto;
  }

  .container .block-benefits .benefits-description {
    font-size: 3vw;
    text-align: center;
    max-width: 283px;
    margin: 0 auto 33px;
  }

  .container .block-benefits img {
    margin: 0 auto 3vw;
    padding: 0 15vw 0;
    min-height: auto;
    min-width: auto;
  }
}

@media (max-width: 475px) {

  /* HEADER */
  header {
    background-color: var(--color-cream-white);
  }

  .page-header-top {
    padding-top: 45px;
  }

  .page-header-logo {
    width: 93px;
    height: 27px;
  }

  .page-header-button {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .page-header-top .page-header-burger-button {
    display: block;
    width: 29px;
    height: 29px;
    border: none;
    background-color: transparent;
    position: relative;
    margin-top: 1px;
  }

  .page-header-burger-button .first-line {
    border: 2px solid var(--color-black);
    border-radius: 10px;
    width: 25px;
    left: 6px;
    position: absolute;
    background-color: var(--color-black);
    top: 6px;
  }

  .page-header-burger-button .second-line {
    position: absolute;
    border: 2px solid var(--color-black);
    border-radius: 10px;
    left: 6px;
    top: 14px;
    width: 25px;
    background-color: var(--color-black);
  }

  .page-header-burger-button .third-line {
    border: 2px solid var(--color-black);
    position: absolute;
    border-radius: 10px;
    width: 25px;
    left: 6px;
    background-color: var(--color-black);
    bottom: 3px;
  }

  /* BANNER */

  .banner-body h1 {
    font-size: 7vw;
  }

  .banner-body p {
    margin-bottom: 6vw;
    font-size: 4vw;
  }

  .banner-downoload-button button {
    padding: 10px 15px 10px 45px;
    font-size: 14px;
  }

  .downoload-button-android::before {
    top: 11px;
    left: 20px;
    background-repeat: no-repeat;
    background-size: 18px;
    width: 18px;
    height: 18px;
  }

  .downoload-button-ios::before {
    top: 10px;
    left: 17px;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
  }

  .container .banner-img img {
    height: auto;
  }

  .container form {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  form .form-label {
    font-size: 6vw;
    margin: 0;
    margin-top: 10px;
    margin-left: 18px;
    text-align: left;
    max-width: 290px;
  }

  form .form-group {
    flex-wrap: wrap;
    margin: 0;
  }

  form .form-group input {
    margin-inline: 18px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }

  form .form-group button {
    margin: 15px 18px 30px 18px;
    width: 100%;
    max-width: 385px;
  }

  /* fyp */

  .fyp-inner {
    grid-template-areas:
      "facilities-app-vision"
      "facilities-first"
      "facilities-second"
      "facilities-third"
      "facilities-fourth";
    column-gap: 0;
  }

  .facilities h3,
  .facilities p {
    text-align: center;
  }

  .container .fyp-inner .facilities ::before,
  .container .fyp-inner .facilities ::after {
    transform: translateX(-50%);
    left: 50%;
  }

  /* BENEFITS */

  .container .block-benefits {
    display: grid;
    grid-template-areas:
      "block-benefits-text"
      "image"
      "benefits-description";
    grid-template-rows: none;
    background: var(--color-white);
    justify-content: center;
    margin-bottom: 8vw;
  }

  .block-benefits .block-benefits-text {
    margin-top: 15px;
    margin-inline: auto;
  }

  .container .block-benefits .benefits-description {
    font-size: 3vw;
    text-align: center;
    max-width: 283px;
    margin: 0 13vw 33px;
  }

  .container .block-benefits .benefits-title {
    font-size: clamp(18px, 9vw, 24px);
    line-height: 0.95;
    margin-right: 24px;
  }

  .container .block-benefits .benefits-number {
    font-size: clamp(58px, 9vw, 64px);
    line-height: 1.35;
    margin-left: 24px;
  }

  .container .block-benefits img {
    margin: 0 auto 3vw;
    padding: 0 15vw 0;
    min-height: auto;
    min-width: auto;
  }

  /* FOOTER */

  footer {
    background-color: var(--color-cream-white);
  }

  .page-header-bottom {
    flex-direction: column;
    margin-top: 0;
  }

  .page-footer-logo {
    order: -1;
    flex-basis: 100%;
    min-width: 131px;
    margin-top: 2vw;
    text-align: center;
  }

  address {
    margin-inline: 0;
    order: 1;
    flex-basis: 100%;
    max-width: 163px;
  }

  address .footer-address-info:first-child {
    display: none;
  }

  .footer-address-info .footer-title {
    font-size: 5vw;
    text-align: center;
  }

  .footer-address-info .footer-text {
    font-size: 3vw;
    text-align: center;
  }

  .footer-number {
    display: block;
  }

  .page-header-bottom .banner-downoload-button {
    flex-basis: 100%;
    order: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 7vw;
    margin-top: 7vw;
    max-width: 165px;
  }

  .text-rights {
    font-size: 3vw;
    color: var(--color-grey);
    max-width: 200px;
    margin: 7vw auto 0;
  }
}