.page-header__top {
    display: flex;
    padding: 85px 80px 38px;
    align-items: center;
    justify-content: flex-end;

    a {
        margin-right: auto;
    }

    .main-menu {
        display: flex;

        .main-menu__list {
            display: flex;
            font-size: 17px;
            line-height: 1.23;
            align-items: center;

            li {
                margin-right: 46px;
            }
        }
    }

    .page-header__button {
        border: none;
        border-radius: 6px;
        background-color: var(--color-green);
        color: var(--color-white);
        font-size: 22px;
        line-height: 1.22;
        padding: 12px 28px;
    }

    .page-header__burger-button {
        display: none;
    }
}