:root {
    --color-green: hsla(124, 37%, 60%, 1);
    --color-cream-white: hsla(0, 0%, 98%, 1);
    --color-white: hsla(360, 100%, 100%, 1);
    --color-black: hsla(0, 0%, 0%, 1);
  
    --font-family-base: "Gilroy", sans-serif;
    --border: 1px solid var(--color-white);
  
    --container-width: max-width;
    --container-padding-x: 15px;
  
    --transition-duration: 0.2s;
}